@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/roboto-slab/400.css";
@import "@fontsource/roboto-slab/700.css";

body {
    padding: 0;
    margin: 0;
    font-family: "Lato", "Roboto Slab", sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

input[type="number"].no-number-spin::-webkit-outer-spin-button,
input[type="number"].no-number-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].no-number-spin {
    -moz-appearance: textfield;
    appearance: textfield;
}
