body {
    padding: 0;
    margin: 0;
    font-family: "Afacad", "Advent Pro", "ADLaM Display", "Actor", "Abel",
        "Abhaya Libre", "Abyssinica SIL", "Livvic", "Lilita One", "Anton",
        sans-serif;
}
